:root {
    --razmak: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 212, 212);
}

header.glavni {
    display: flex;
    background-color: rgb(44, 44, 44);
    align-items: center;
    width: 100%;
    white-space: nowrap;
    z-index: 1;
}

header.glavni>div {
    margin-left: auto;
    margin-right: 0;
    margin-right: var(--razmak);
}

header.glavni>div>p {
    color: white;
}

header>h3 {
    display: flex;
    text-align: center;
    margin-left: var(--razmak);
    color: #82b440;
    align-items: center;

}

.glavni-kontejner>div {
    display: inline-block;
    margin: 20px;
    text-align: center;
    width: 300px;
}

.glavni-kontejner {
    text-align: center;
    margin: 70px auto;
}

.glavni-kontejner img {
    object-fit: cover;
    width: 300px;
    height: 300px;


}
.logo2 {
    width: 130px;
}
footer {
    margin-top: 110px;
    padding: 1px;
    text-align: center;
    background-color: rgb(44, 44, 44);
}

footer>h1 {
    color: #82b440;
    text-align: center;

}

.peovac {
    margin-right: var(--razmak);
    text-align: end;
    color: white;
}

.directory-text {
    top: 40%;
    right: 35%;
    text-align: center;

    color: rgb(255, 255, 255);
    font-size: 45px;


}

.directory {
    background-image: url("rsz_1collage.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    position: relative;
}

.txt {
    padding: 1.875rem 2.6rem;
}

a {
    text-decoration: none;
    color: black;
}

.addlisting {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: solid #d35924;
    padding: 9px 1.25rem;
    align-items: center;
    position: absolute;
    right: var(--razmak);
    top: var(--razmak);
}

.addlisting i {
    margin-right: 10px;
    font-size: 22px;
}

.addlisting:hover {
    background-color: #d35924;
}

.aflex {
    display: flex;

}

.aflex>h3 {
    display: flex;
    align-items: center;
    margin: var(--razmak);
    color: #82b440;
}

.placeholder {
    display: flex;
}

.placeholder {
    width: 100%;
    height: 70px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    height: 4.375rem;
    padding: 1rem 2rem;
    outline: none;
}

.card {
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.description {
    display: flex;
    padding-bottom: 40px;
}

.lista {
    display: flex;
    font-size: larger;
    padding-bottom: 8px;
}

.label-container {
    margin-bottom: 30px;
}

.send {
    display: flex;
    font-size: 12.35px;
    font-weight: 700;
    padding: 1.3rem 2rem;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 40px;
    background-color: #d35924;
    color: white;
    border: none;
    transition: background-color 200ms;
}

.send:hover {
    background-color: black;
    box-shadow: 0 5px 1.25rem rgba(0, 0, 0, .25);
    cursor: pointer;
}

.vertical-space {
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-left {
    text-align: left;
}

.about-link {
    display: flex;
    align-items: center;
    padding-left: 25px;
    color: #e3e3e3;
    font-size: small;
    position: relative;

}

.login {
    display: flex;
}

.login {
    margin-top: 10px;
    width: 50%;
    height: 50px;
}

.email-button {
    margin-left: auto;
    margin-right: 0;
    align-items: center;

}

#mail {
    padding-right: 14px;
}

.container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 2rem;
    background: #ffffff;
}

.logout-div {
    display: flex;
}

.btn {
    cursor: pointer;
    border: none;
    margin: auto;
    font-size: smaller;
    height: 100%;
    border-radius: .25rem;
    padding: 2px 15px;
    background-color: #82b440;
    color: white;
}

#display-email {
    padding-right: 12px;
    color: white;
}

.hidden {
    display: none !important;
}

@media only screen and (min-width: 600px) {
    .glavni-kontejner {
        max-width: 27rem;
    }
}

@media only screen and (min-width: 768px) {
    .glavni-kontejner {
        max-width: 32rem;
    }
}

@media only screen and (min-width: 992px) {
    .glavni-kontejner {
        max-width: 51rem;
    }
}

@media only screen and (min-width: 1200px) {
    .glavni-kontejner {
        max-width: 64rem;
    }
}