:root {
    --razmak: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 212, 212);
}

header.glavni {
    display: flex;
    background-color: rgb(44, 44, 44);

    width: 100%;
    white-space: nowrap;
    z-index: 1;
}

header>h3 {
    display: flex;
    margin-left: var(--razmak);
    color: #82b440;
    align-items: center;

}

.glavni-kontejner>div {
    display: inline-block;
    margin: 20px;
    padding: 2px 2px;
    text-align: center;
    background-color: antiquewhite;
    width: 300px;

}

.glavni-kontejner {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.glavni-kontejner img {
    object-fit: cover;
    width: 300px;
    height: 300px;


}

.glavni>button {
    height: 100%;
    margin-left: auto;
    margin-right: var(--razmak);
    margin-top: 30px;
    border-radius: .25rem;
    padding: 3px 20px;
    background-color: #82b440;
    color: white;
}

footer {
    padding: 1px;
    text-align: center;
    background-color: rgb(44, 44, 44);
}

footer>h1 {
    color: #82b440;
    text-align: center;

}

.peovac {
    margin-right: var(--razmak);
    text-align: end;
    color: white;
}

.directory-text {
    top: 40%;
    right: 35%;
    text-align: center;

    color: rgb(255, 255, 255);
    font-size: 45px;


}

.directory {
    background-image: url("rsz_1collage.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    position: relative;


}

.txt {
    padding: 1.875rem 2.6rem 0;

}

a {
    text-decoration: none;
    color: black;

}

.logo2 {
    margin-top: var(--razmak);
}

.addlisting {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: solid #d35924;
    padding: 9px 1.25rem;
    align-items: center;
    position: absolute;
    right: var(--razmak);
    top: var(--razmak);
}

.addlisting i {
    margin-right: 10px;
    font-size: 22px;
}

a:hover {
    background-color: #d35924;
}